*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 20px;
    flex-wrap: wrap;
}

.left-container {
    max-width: 400px;
    background: white;
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.863);
}

.left-container input {
    padding: 14px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    background-color: #eeeeee;
    width: 370px;
    outline: 2px solid transparent;
    transition: 0.5s;
}


.left-container button {
    padding: 14px 10px;
    margin-top: 10px;
    width: 400px;
    border: none;
    border-radius: 5px;
    background-color:#ff3333;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

