*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 20px;
    flex-wrap: wrap;
}

.left-container {
    max-width: 400px;
    background: white;
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.863);
}
